.flex-container{
    display:grid;
    row-gap: 1.5rem;
    grid-template-columns: 2fr 1fr;

    padding-block: 2rem;
    margin-inline: auto;
    max-width: 375.65px;
 }

 .input-hero{
    margin-right: 1rem;
 }